* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* HEADER  */

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;

}

#logo {
  margin: 0 75px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 250px; 
  height: 250px;
}

a {
  color: #db1f48;
  text-decoration: none;
  font-family: sans-serif
}

a:hover {
  color: #db1f48;
}

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

#btn-mobile{
  display: flex;
  border: none; 
  background: none;
  cursor: pointer;
}

#menu a {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}

main {
  background-color: #1e1e1e;
  color: #fff;
  text-align: left;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 130px);
}

.itens {
  display: flex;
  margin: 0 180px;
  align-items: top;
  justify-content: space-between;
}

#formulario {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#titulo {
  font-size: 1.6rem;
  color: #db1f48;
}

.caixa-entrada label {
  font-weight: 500;
  font-size: 1rem;
  color: #d9d9d9;
}

.campo-entrada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f3f46;
  padding: 0.3rem;
  border-radius: 3px;
  margin-top: 3px;
  width: 70%;
}

.campo-entrada span {
    color: #d9d9d9;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    width: 18%;
}

.campo-entrada input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 1rem;
  color: #d9d9d9;
  padding: 0 0.5rem;
}

.campo-entrada input::-webkit-outer-spin-button,
.campo-entrada input::-webkit-inner-spin-button {
  appearance: none;
}

.campo-entrada input:focus {
    outline: none;
}

#calcular {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(24, 154, 180, 1);
  padding: 0.5rem 0;
  border-radius: 3px;
  cursor: pointer;
  width: 35%;
}

#calcular:hover{
  background-color: #01949a;
}

#img {
  width: 31rem;
  height: 70px;
}

.hidden {
  display: none;
}

.resultado-container {
    /*font-family: Arial, sans-serif;*/
    max-width: 400px;
    line-height: 1.6;
    color: #d9d9d9;
    margin-right: auto;
    margin-right: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.grupo {
    margin-bottom: 20px;
}

.titulo-proventos {
    color: #01949a;
    font-size: 18px;
    font-weight: bold;
}

.titulo-descontos {
    color: #db1f48;
    font-size: 18px;
    font-weight: bold;
}

.liquido-pagar {
    background-color: rgba(24, 154, 180, 1);
    padding: 6px 10px;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 15px;
}

.texto-referencia {
    font-weight: bold;
    color: #fff;
}

/*
#resultado {
  color: #d9d9d9;
  text-align: center;
  padding-top: 40px;
  margin: 10px 15px;
}

table {
  border-collapse: collapse;
  border: 3px solid #d9d9d9;
  margin: 0 36%;
  font-size: .90rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
  color: #d9d9d9;
}

#titulos {
  background-color: #db1f48;
  color: #d9d9d9;
}

thead,
tfoot {
  font-weight: bold;
  font-size: .8rem;
}

th, td { 
  color: #d9d9d9;
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

tfoot th, 
tfoot td {
  text-align: right;
  color: #d9d9d9;
  font-size: 1.2rem;
  background-color: #01949a;
}

*/

footer {
  height: 60px;
  padding: 1rem;
  display: block;
  background-color: #000;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  justify-content: space-between;
}

/* Responsividade */

@media (max-width: 450px) { 
  main {
    padding: 0 0;
    font-size: 1.3rem;
    text-align: left;
  }

  a {
    font-size: 1.3rem;
  }
  
  .itens {
    display: flex;
    align-items: center;
  }  

  .caixa-entrada label {
    font-size: 1.2rem;
  }

  .campo-entrada {
    width: auto;
  }

  .campo-entrada span {
    font-size: 1.2rem;
    width: 25%;
  }

  .campo-entrada input {
    font-size: 1.2rem;
    width: auto;
    background-color: #3f3f46;
  }
  #img {
    display: none;
  }

  #calcular {
    padding: 10px;
    margin: 0 32%;
    border-radius: 2.5rem;
  }

  table {
    font-size: .7rem;

  }

  #titulos {
    font-size: 0.7rem;
  }
  
  thead,
  tfoot {
    font-size: .7rem;
  }
  
  th, td { 
    color: #d9d9d9;
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  tfoot th, 
  tfoot td {
    text-align: right;
    color: #d9d9d9;
    font-size: 0.8rem;
    background-color: #01949a;
  }
  
}


@media (max-width: 900px) {
  #logo {
    margin: 10px 0;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background: #000;
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
  }

  nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(196, 193, 193, 0.342);

  }

  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none; 
    background: none;
    cursor: pointer;
  }

  #hamburguer {
    border-top: 2px solid;
    color: #01949a;
    width: 20px;
    
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;

  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .itens {
    display: flex;
    padding: 30px;
    margin: 0 0;
    align-items: center;
  }  

  #img {
    display: none;
  }

  table {
    margin: 0 2%;
  }
}
